.header{
    height: 5em;
    width: 100%;
    background-color: #00003c;
    opacity: 100%;
    display: flex;
    position: sticky;
    top: 0;
}
.header img{
    width: 60px;
    height: 3em;
    padding-right: 140px;

    margin-right: 1em;
    margin-top: 1em;
    margin-left: 1em;
}
.header a:hover{
    color: darkolivegreen;
}
.navi{
    position: center;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 33%;
}
.ul-header{
    margin-top: 1em;
    list-style-type: none;
    display: flex;
    flex-direction: row;
}
.h-li{

}
.header-link{
    display: flex;
    padding: 1em;
    background-color: #00003c;
    text-align: center;
    color: floralwhite;

}
.h-form{
    position: relative;
    right: 2em;
    margin-top: 2em;

}
.h-searching{
    width: 200px;
    background-color: white;
    text-align: center;
}
#footer{
    background-color: #00003c;
    height: 4em;
    width: 100%;
    position: static;
    bottom: 0;
    padding-top: 1em;
}
#info-footer{
    background-color: #00003c;
    height: 4em;
    width: 100%;
    position: fixed;
    bottom: 0;
    padding-top: 1em;
}
.footer-newsletter{
    padding-left: 14vw;
    padding-top: 1em;
}
#newsletter-label{
    color: white;
}
