<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/headerAndFooter.css}" href="../static/headerAndFooter.css" >
    <link rel="stylesheet" th:href="@{/body.css}"  href="../static/body.css" >
</head>

<header class="header">

    <a href="/" target="_self">
        <img src="../static/pictures/logo.png" th:src="@{/pictures/logo.png}" alt="logo"/>
    </a>
    <nav class="navi">
        <ul class="ul-header">
            <li class=h-li><a class="header-link" href="/" target="_self">Hjem</a></li>
            <li class=h-li><a class="header-link" href="/artikler" target="_self">Artikler</a></li>
            <li class=h-li><a class="header-link" href="/info" target="_self">Info</a></li>
            <li class=h-li><a class="header-link" href="/kontakt" target="_self">Kontakt</a></li>

        </ul>
    </nav>
    <form class="h-form">
        <input class="h-searching" type="text" placeholder="Søg...">
    </form>

</header>

<body>
<h1 class="info-first-title">Tech-artikler | Business-cases</h1>
<h5 class="info-under-titles">Alle gode planer skal planlægges i detaljen</h5>


    <br>
    <footer id="footer">
        <form class="footer-newsletter">
            <label id="newsletter-label">Nyhedsbrev</label>
            <input class="newsletter-input" type="text" placeholder="Send os din email her">
            <button>Tilmeld</button>
        </form>
    </footer>
</body>
</html>