<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/headerAndFooter.css}" rel="stylesheet" href="../static/headerAndFooter.css">
    <link rel="stylesheet" th:href="@{/body.css}" rel="stylesheet" href="../static/body.css.css">
</head>

<header class="header">
    <a href="/" target="_self">
        <img src="../static/Pictures/yogi.jpg" th:href="@{../static/Pictures/yogi.jpg}" alt="logo">
    </a>
    <nav class="navi">
        <ul class="ul-header">
            <li class=h-li><a class="header-link" href="/" target="_self">Hjem</a></li>
            <li class=h-li><a class="header-link" href="/artikler" target="_self">Artikler</a></li>
            <li class=h-li><a class="header-link" href="/info" target="_self">Info</a></li>
            <li class=h-li><a class="header-link" href="/kontakt os" target="_self">Kontakt</a></li>

        </ul>
    </nav>
    <form class="h-form">
        <input class="h-searching" type="text" placeholder="Søg...">

    </form>
</header>

<body>




</body>



</html>