<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/headerAndFooter.css}" rel="stylesheet" href="../static/headerAndFooter.css">
    <link rel="stylesheet" th:href="@{/body.css}" rel="stylesheet" href="../static/body.css.css">
</head>

<header class="header">
    <nav class="navi">
        <ul class="ul-header">
            <li class=h-li><a class="header-link" href="/" target="_self">Hjem</a></li>
            <li class=h-li><a class="header-link" href="/artikler" target="_self">Artikler</a></li>
            <li class=h-li><a class="header-link" href="/om os" target="_self">Info</a></li>
            <li class=h-li><a class="header-link" href="/kontakt os" target="_self">Kontakt</a></li>

        </ul>
    </nav>
    <form class="h-form">
        <input class="h-searching" type="text" placeholder="Søg...">

    </form>
</header>

<body>
<h1>"Du må kalde mig naiv, men jeg håber, at der kommer en situation Ukraine, hvor folk kan vende tilbage.
    Så selvom jeg godt er klar over, at du er vant til at høre en helt anden tone fra mig, når vi taler om asylpolitik, så er det her som nat og dag.
    Ligeså hårde og afvisende, som vi ønsker at være over for immigranter fra Afrika, ligeså åbne skal vores arme være overfor ukrainere"<br>-Marcus Knut</h1>
</body>
</html>