<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/headerAndFooter.css}"  href="../static/headerAndFooter.css">
    <link rel="stylesheet" th:href="@{/body.css}"  href="../static/body.css">
</head>


<header class="header">
    <nav class="navi">
        <ul class="ul-header">
            <li class=h-li><a class="header-link" href="/" target="_self">Hjem</a></li>
            <li class=h-li><a class="header-link" href="/artikler" target="_self">Artikler</a></li>
            <li class=h-li><a class="header-link" href="/om os" target="_self">Info</a></li>
            <li class=h-li><a class="header-link" href="/kontakt os" target="_self">Kontakt</a></li>

        </ul>
    </nav>
    <form class="h-form">
        <input class="h-searching" type="text" placeholder="Søg...">

    </form>
</header>


<div class="headerPicture">
    <img src="../static/pictures/Udsigt.jpg" th:src="@{/Pictures/Udsigt.jpg}">
</div>

<div class="container-2plus1">
    <div class ="header-1">
        <h1>Business Foodwaste Solutions</h1>
        <p>orem ipsum impsum ipsum lpsum lorem  ipsum imloremorem  ipsumm lpsum lorem  ipsum imorem ipsum impsum ipsum lpsum lorem  ipsum imloremorem  ipsumm lpsum lorem  ipsum imorem ipsum impsum ipsum lpsum lorem  ipsum imloremorem  ipsumm lpsum</p>
    </div>

    <div>
    </div>
</div>

<div><br><br><br><br></div>

</div>

<div class="container-2plus1">
    <div>
        <div class="teaserArtikelMain">
            <img src="../static/pictures/SpaceFLower.jpg" th:src="@{/Pictures/SpaceFLower.jpg}">
            <p style="padding-top: 1vw">02/03/2022</p>
            <h1 >Tech: SpaceWaste</h1>
            <p>lorem ipsum impsum ipsum lpsum lorem  ipsum imloremorem  ipsumm lpsum lorem  ipsum imlorem imloremorem  ipsumm lpsum lorem  ipsum imlorem </p>
            <p><a href="##"> Læs arktiklen her</a> </p>

        </div>
    </div>

    <div></div>

</div>

<div><br><br></div>

<div class="container-2plus1">
    <div class ="header-1">
        <h2>Ældre artikler</h2>
        <p>Her finder du de artikler omkring madspilds teknologio og nye teknologier</p>
    </div>

    <div>
    </div>

</div>


<div class="container-3x1">
    <div class="teaserArtikelTwo-1x1">
        <img src="../static/pictures/ÆbleLæder.jpg" th:src="@{/Pictures/ÆbleLæder.jpg}">
        <h1>Tech: Æble Læder</h1>
        <p>Flere ton æble skrald går til spilde fra æble juice producenter, her ser du hvordan man tager skraldet og producere æble læder<br></p>
        <p><a href="##"> Læs arktiklen her</a > </p>
    </div>

    <div class="teaserArtikelOne-1x1">
        <img src="../static/pictures/TaskeAfÆbleLæder.jpg" th:src="@{/Pictures/TaskeAfÆbleLæder.jpg}">
        <h1>Case: Fra æble til taske</h1>
        <p>lorem ipsum impsum ipsum lpsum lorem  ipsum imloremorem  ipsumm lpsum lorem  ipsum imlorem  <br></p>
        <p><a href="##"> Læs arktiklen her</a > </p>
    </div>

    <div class="teaserArtikelOne-1x1">
        <img src="../static/pictures/CIDERTILBRÆNDEVIND.jpg" th:src="@{/Pictures/CIDERTILBRÆNDEVIND.jpg}">
        <h1>Case: Cider til Brændevin</h1>
        <p>lorem ipsum impsum ipsum lpsum lorem  ipsum imloremorem  ipsumm lpsum lorem  ipsum imlorem  <br></p>
        <p><a href="##"> Læs arktiklen her</a > </p>
    </div>
</div>

<div class="container-3x1">
    <div class="teaserArtikelTwo-1x1">
        <img src="../static/pictures/Brændevin.jpg" th:src="@{/Pictures/Brændevin.jpg}">
        <h1>Tech: Brændevin</h1>
        <p>lorem ipsum impsum ipsum lpsum lorem  ipsum imloremorem  ipsumm lpsum lorem  ipsum imlorem  <br></p>
        <p><a href="##"> Læs arktiklen her</a > </p>
    </div>

    <div class="teaserArtikelOne-1x1">
        <img src="../static/pictures/TooGoodToGo.jpg" th:src="@{/Pictures/TooGoodToGo.jpg}" >
        <h1>Case: TooGoodToGo</h1>
        <p>lorem ipsum impsum ipsum lpsum lorem  ipsum imloremorem  ipsumm lpsum lorem  ipsum imlorem  <br></p>
        <p><a href="##"> Læs arktiklen her</a > </p>
    </div>

</div>






</body>
</html>