<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" th:href="@{/headerAndFooter.css}" rel="stylesheet" href="../static/headerAndFooter.css">
    <link rel="stylesheet" th:href="@{/body.css}" rel="stylesheet" href="../static/body.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
    <meta charset="UTF-8">
    <title>omOs</title>
</head>
<body>
<h1>Information om "Madspild"</h1>
<h2>Formål Vision Identitet</h2>

<div class="container-3x1">
    <div class="purpose1x1">
        <h4>Formål</h4>
        <p>Vores formål er at formidle bl bla blabl balb alablabalbal ..</p>
    </div>
    <div class="empty2">

    </div>
    <div class="empty3">

    </div>
</div>
<div class="container-3x1">
    <div class="empty4">

    </div>
    <div class="vision1x1">
        <h4>Vision</h4>
        <p>Vores vision er at formidle bl bla blabl balb alablabalbal ..</p>
    </div>
    <div class="empty6">

    </div>
</div>
<div class="container-3x1">
    <div class="empty7">

    </div>
    <div class="empty8">

    </div>
    <div class="identity1x1">
        <h4>Identitet</h4>
        <p>Vores identitet er at formidle bl bla blabl balb alablabalbal ..</p>
    </div>
</div>

</body>
</html>