<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Info</title>
    <link rel="stylesheet" href="../static/body.css" th:href="@{body.css}"/>
    <link rel="stylesheet" href="../static/headerAndFooter.css" th:href="@{headerAndFooter.css}"/>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
</head>

<body id="main-body-info">
<header class="header">

    <a href="/" target="_self">
        <img src="../static/pictures/logo.png" th:src="@{/pictures/logo.png}" alt="logo"/>
    </a>
    <nav class="navi">
        <ul class="ul-header">
            <li class=h-li><a class="header-link" href="/" target="_self">Hjem</a></li>
            <li class=h-li><a class="header-link" href="/artikler" target="_self">Artikler</a></li>
            <li class=h-li><a class="header-link" href="/info" target="_self">Info</a></li>
            <li class=h-li><a class="header-link" href="/kontakt" target="_self">Kontakt</a></li>

        </ul>
    </nav>
    <form class="h-form">
        <input class="h-searching" type="text" placeholder="Søg...">
    </form>

</header>
<h1 class="info-first-title">Formål | Vision | Identitet</h1>
<h3 class="info-under-titles">Vi har en plan</h3>

<div class="container-3x1">
    <div class="purpose1x1">
        <h4>Formål</h4>
        <p>Vi har en plan, madspild skal være slut, det drejer sig om millioner! Værd år spilder mennesker utrolig meget mad som ikke burde spildes. Det skal være løgn det skal vi lave om på! Så meget du for lyst til at sige "Skide godt. Vi er klar til at få den virksomhed til at være grøn. BETALING TAGES I RØD KUFFERT"</p>
        <br><br>
    </div>
    <div class="empty2">

    </div>
    <div class="empty3">

    </div>
</div>
<div class="container-3x1">
    <div class="empty4">

    </div>
    <div class="vision1x1">
        <h4>Vision</h4>
        <p>I Verden hvor i er omgivet af hundehoveder, hængerøve, slapsvanse skidespræller, socialdemokrater, ignoranter, fæhoveder, lussede amatører. Er det vores vision at verdens mad ikka skal gå til spilde.</p>
        <br><br>
    </div>
    <div class="empty6">

    </div>
</div>
<div class="container-3x1">
    <div class="empty7">

    </div>
    <div class="empty8">

    </div>
    <div class="identity1x1">
        <h4>Identitet</h4>
        <p>Som en tidligere kriminel bande, hvor vores chef har siddet i fængsel flere gange. Efter alle disse mislykkedes kups, valgte at ændre vores adfærd og nu klar til at redde verden, mod betaling selvfølgelig.</p>
        <br><br>
    </div>
</div>

<br>
<footer id="info-footer">
    <form class="footer-newsletter">
        <label id="newsletter-label">Nyhedsbrev</label>
        <input class="newsletter-input" type="text" placeholder="Send os din email her">
        <button>Tilmeld</button>
    </form>
</footer>
</body>
</html>