<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Info</title>
    <link rel="stylesheet" href="../static/body.css" th:href="@{body.css}"/>
    <link rel="stylesheet" href="../static/headerAndFooter.css" th:href="@{headerAndFooter.css}"/>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
</head>

<body>
<header class="header">

    <a href="/" target="_self">
        <img src="../static/pictures/yogi.jpg" th:src="@{/pictures/yogi.jpg}" alt="logo"/>
    </a>
    <nav class="navi">
        <ul class="ul-header">
            <li class=h-li><a class="header-link" href="/" target="_self">Hjem</a></li>
            <li class=h-li><a class="header-link" href="/artikler" target="_self">Artikler</a></li>
            <li class=h-li><a class="header-link" href="/info" target="_self">Info</a></li>
            <li class=h-li><a class="header-link" href="/kontakt" target="_self">Kontakt</a></li>

        </ul>
    </nav>
    <form class="h-form">
        <input class="h-searching" type="text" placeholder="Søg...">
    </form>

</header>
<h1 class="info-first-title">Information om "Madspild"</h1>
<h3 class="info-under-titles">Formål | Vision | Identitet</h3>

<div class="container-3x1">
    <div class="purpose1x1">
        <h4>Formål</h4>
        <p>Vores formål er at formidle bl bla blabl balb alablabalbal ..</p>
        <br><br><br><br><br><br>
    </div>
    <div class="empty2">

    </div>
    <div class="empty3">

    </div>
</div>
<div class="container-3x1">
    <div class="empty4">

    </div>
    <div class="vision1x1">
        <h4>Vision</h4>
        <p>Vores vision er at formidle bl bla blabl balb alablabalbal ..</p>
        <br><br><br><br><br><br>
    </div>
    <div class="empty6">

    </div>
</div>
<div class="container-3x1">
    <div class="empty7">

    </div>
    <div class="empty8">

    </div>
    <div class="identity1x1">
        <h4>Identitet</h4>
        <p>Vores identitet er at formidle bl bla blabl balb alablabalbal ..</p>
        <br><br><br><br><br><br>
    </div>
</div>
<br>
<footer id="footer">
    <form class="footer-newsletter">
        <label>Nyhedsbrev</label>
        <input class="newsletter-input" type="text" placeholder="Send os din email her">
        <button>Tilmeld</button>
    </form>
</footer>
</body>
</html>