<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BFS - Kontakt os</title>

    <link rel="stylesheet" th:href="@{/headerAndFooter.css}" href="../static/headerAndFooter.css">
    <link rel="stylesheet" th:href="@{/body.css}" href="../static/body.css">
</head>

<header class="header">

    <a href="/" target="_self">
        <img src="../static/pictures/logo.png" th:src="@{/Pictures/logo.png}" alt="logo"/>
    </a>
    <nav class="navi">
        <ul class="ul-header">
            <li class=h-li><a class="header-link" href="/" target="_self">Hjem</a></li>
            <li class=h-li><a class="header-link" href="/artikler" target="_self">Artikler</a></li>
            <li class=h-li><a class="header-link" href="/info" target="_self">Info</a></li>
            <li class=h-li><a class="header-link" href="/kontakt" target="_self">Kontakt</a></li>

        </ul>
    </nav>
    <form class="h-form">
        <input class="h-searching" type="text" placeholder="Søg...">
    </form>

</header>

<body>
<div class="container-3x1">
<div class="header-1">
    <h1>Kontakt os </h1>
    <p>Hvis du skal have en plan</p>
</div>
</div>
<div class="container-3x1">
    <div class="teaserArtikelTwo-1x1">
        <img src="../static/Pictures/CEO1.jpg" th:src="@{/pictures/CEO1.jpg}">
        <h1>Egon Olsen</h1>
        <p><strong>Jobtitel: </strong>CEO</p>
        <p><strong>Email:</strong> Egon@bfs.dk   <br></p>
        <p><strong>TLF:</strong> 66204592 <br></p>
    </div>

    <div class="teaserArtikelTwo-1x1">
        <img src="../static/Pictures/Salg1.jpg" th:src="@{/pictures/Salg1.jpg}">
        <h1>Benny Frandsen</h1>
        <p><strong>Jobtitel: </strong>Salgs</p>
        <p><strong>Email:</strong> Benny@bfs.dk   <br></p>
        <p><strong>TLF:</strong> 64204592 <br></p>
    </div>

    <div class="teaserArtikelTwo-1x1">
        <img src="../static/Pictures/Praktikant1.jpg" th:src="@{/pictures/Praktikant1.jpg}">
        <h1>Kjeld Jensen</h1>
        <p><strong>Jobtitel:</strong> Pratikant</p>
        <p><strong>Email:</strong> Kjeld@bfs.dk   <br></p>
        <p><strong>TLF:</strong> 12324340 <br></p>
    </div>

</div>

<div class="container-3x1">
    <div class="teaserArtikelTwo-1x1">
        <img src="../static/Pictures/picollo1.jpg" th:src="@{/pictures/picollo1.jpg}">
        <h1>Børge Jensen</h1>
        <p><strong>Jobtitel: </strong> Picollo</p>
        <p><strong>Email:</strong> børge@bfs.dk<br></p>
        <p><strong>TLF:</strong> 21212121<br></p>
    </div>

    <div class="teaserArtikelTwo-1x1">
        <img src="../static/Pictures/telefon.jpg" th:src="@{/pictures/telefon.jpg}">
        <h1>Yvonne Jensen</h1>
        <p><strong>Jobtitel:</strong> Receptionist</p>
        <p><strong>Email:</strong> yvonne@bfs.dk</p>
        <p><strong>TLF:</strong> 33333356</p>

    </div>

    <div class="teaserArtikelTwo-1x1">
        <img src="../static/Pictures/Office.jpg" th:src="@{/pictures/Office.jpg}">
        <h1>Kontor</h1>
        <p><strong>Adresse: </strong>Asta Nielsen Strædet 7</p>
        <p><strong>By:</strong> Valby   <br></p>
        <p><strong>Postnummer:</strong> 2500 <br></p>
    </div>

</div>

<br>
<footer id="footer">
    <form class="footer-newsletter">
        <label id="newsletter-label">Nyhedsbrev</label>
        <input class="newsletter-input" type="text" placeholder="Send os din email her">
        <button>Tilmeld</button>
    </form>
</footer>

</body>
</html>