<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" th:href="@{/headerAndFooter.css}" rel="stylesheet" href="../static/headerAndFooter.css">
    <link rel="stylesheet" th:href="@{/body.css}" rel="stylesheet" href="../static/body.css">
</head>
<body>


<div class="container-3x1">
    <div class="teaserArtikel1x1">
        <img src="../static/Pictures/ÆbleLæder.jpg">
        <h1>Æble Læder</h1>
        <p>lorem ipsum impsum ipsum lpsum lorem  ipsum imloremorem  ipsumm lpsum lorem  ipsum imlorem  <br></p>
        <p><a href="##"> Læs arktiklen her</a > </p>
    </div>

    <div class="teaserArtikel1x1">
        <img src="../static/Pictures/ÆbleLæder.jpg">
        <h1>Æble Læder</h1>
        <p>lorem ipsum impsum ipsum lpsum lorem  ipsum imloremorem  ipsumm lpsum lorem  ipsum imlorem  <br></p>
        <p><a href="##"> Læs arktiklen her</a > </p>
    </div>

    <div class="teaserArtikel1x1">
        <img src="../static/Pictures/ÆbleLæder.jpg">
        <h1>Æble Læder</h1>
        <p>lorem ipsum impsum ipsum lpsum lorem  ipsum imloremorem  ipsumm lpsum lorem  ipsum imlorem  <br></p>
        <p><a href="##"> Læs arktiklen her</a > </p>
    </div>
</div>






</body>
</html>